VALIDATOR_CONTAINER_NAME=besu-validator5
VALIDATOR_HOST_IP=REPLACE_WITH_VALIDATOR_HOST_IP
VALIDATOR_P2P_PORT=30303
VALIDATOR_RPC_PORT=8549
VALIDATOR_ENODE_PUBKEY=REPLACE_WITH_VALIDATOR_ENODE_PUBLIC_KEY
VALIDATOR_ADDRESS=0xREPLACE_WITH_VALIDATOR_ADDRESS

BOOTNODE1_HOST=REPLACE_WITH_EXISTING_NODE1_HOST_OR_IP
BOOTNODE2_HOST=REPLACE_WITH_EXISTING_NODE2_HOST_OR_IP
BOOTNODE3_HOST=REPLACE_WITH_EXISTING_NODE3_HOST_OR_IP
BOOTNODE4_HOST=REPLACE_WITH_EXISTING_NODE4_HOST_OR_IP
